.header {
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
}

.header_item p{
    font-size: 14px;
    color: #000;
}

.header_item {
    display: flex;
}

.header_item a {
    margin-left: 20px;
    color: #555;
    font-size: 14px;
    text-transform: uppercase;
    transition: .4s;
}

.header_item a:hover {
    color: #bac34e;
}

@media(max-width: 1000px) {
    .header {
        display: none;
    }
} 